openapi: 3.0.0
info:
  title: McPay
  version: '1'
  description: McPay OAauth and McPayments docs
  contact: {}
  license: {}
servers:
  - url: 'https://mcpay.io'
    description: Production
  - description: Development
    url: 'https://mp-stage.mediacube.dev'
paths:
  /oauth/token:
    post:
      summary: Token
      operationId: post-oauth-token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_type:
                    type: string
                    enum:
                      - bearer
                  expires_in:
                    type: string
                  access_token:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_message:
                    type: string
                required:
                  - error
                  - error_description
                  - error_message
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                  format: uri
            examples:
              partner:
                value:
                  grant_type: partner
                  client_id: '1'
                  client_secret: secret
              authorization_code:
                value:
                  grant_type: authorization_code
                  client_id: '1'
                  client_secret: secret
                  scopes: user.channels user.common user.contacts
                  code: hjgsfugdskhgvklundfluvhdfnlvhls
                  redirect_url: 'https://yourapp.com/endpoint'
        description: ''
      description: ''
      tags:
        - OAuth
  /oauth/user:
    get:
      summary: User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  email:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  lang:
                    type: string
                  wallet:
                    type: string
                    description: кошелек пользователя (1)
                  kyc_status:
                    type: number
                  is_confirmed:
                    type: boolean
                    description: статус подтверждения почты (1)
                  is_company:
                    type: boolean
                  channels:
                    type: string
                  created_at:
                    type: string
                  country:
                    $ref: '#/components/schemas/Country'
      operationId: get-oauth-user
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
      security:
        - Auth code: []
      tags:
        - OAuth
  /oauth/user/balance:
    get:
      summary: Balance Scope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: string
                  real_balance:
                    type: string
                  credit_balance:
                    type: string
      operationId: get-oauth-user-balance
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
      security:
        - Auth code: []
      tags:
        - OAuth
    parameters: []
  /oauth/user/common:
    get:
      summary: Common Scope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  common:
                    type: object
                    properties:
                      name:
                        type: string
                        description: first name + last name
                      email:
                        type: string
                        format: email
                      lang:
                        type: string
                        description: xx - Language format from ISO
                      is_confirmed:
                        type: boolean
                      avatar:
                        type: string
                        format: uri
                      wallet:
                        type: string
                      profile:
                        $ref: '#/components/schemas/Profile'
                      birthday:
                        type: string
                      sex:
                        type: boolean
                      country_id:
                        type: number
                      country:
                        $ref: '#/components/schemas/Country'
      operationId: get-oauth-user-common
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
      security:
        - Auth code: []
      tags:
        - OAuth
  /oauth/user/channels:
    get:
      summary: Channel Scope
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    youtube_id:
                      type: string
                    title:
                      type: string
                    published_at:
                      type: string
                      format: date
                      example: '2020-05-12'
                    views_count:
                      type: number
                    subscribers_count:
                      type: number
                    is_google_user_owner:
                      type: boolean
                    image:
                      type: string
      operationId: get-oauth-user-channels
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
      security:
        - Auth code: []
      tags:
        - OAuth
  /payments:
    post:
      summary: Create payout payment
      operationId: post-payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McPaymentResource'
        '401':
          description: Your Access Token does not have access
        '422':
          description: Incorrect data
      description: The endpoint allows you to make payouts to users. Supports batch payout payments
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
          description: 'Token from partner grant '
        - schema:
            type: string
            example: application/json
          in: header
          required: true
          name: Content-Type
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      tags:
        - Payments
      security:
        - Client credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McPaymentRequest'
    get:
      summary: Get payment
      operationId: get-payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McPaymentResource'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: ''
      tags:
        - Payments
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: ''
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          description: ''
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      security:
        - Client credentials: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
        description: ''
    parameters: []
  /payments/debit:
    post:
      summary: Create debit payment
      operationId: post-payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McPaymentResource'
        '401':
          description: Your Access Token does not have access
        '422':
          description: Incorrect data
      description: The endpoint allows you to debit money from users wallets. Supports batch debiting of money
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
          description: 'Token from partner grant '
        - schema:
            type: string
            example: application/json
          in: header
          required: true
          name: Content-Type
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      tags:
        - Payments
      security:
        - Client credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McPaymentRequest'
    parameters: []
  /regional/ewrwe:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-regional-ewrwe
      x-stoplight:
        id: zaivu6xydno6l
components:
  schemas:
    Country:
      title: Country
      type: object
      description: ''
      properties:
        id:
          type: number
        youtube_id:
          type: string
        code:
          type: string
        code_aplha3:
          type: string
        name:
          type: string
    Profile:
      title: Profile
      type: object
      properties:
        id:
          type: number
        user_id:
          type: number
        first_name:
          type: string
        last_name:
          type: string
        middle_name:
          type: string
        name:
          type: string
        region:
          type: string
        city:
          type: string
        address:
          type: string
        lang:
          type: string
        tax_id:
          type: string
        business_id:
          type: string
        is_real_address:
          type: boolean
        province:
          type: string
        real_province:
          type: string
        real_city:
          type: string
        real_adress:
          type: string
        real_postcode:
          type: string
        postcode:
          type: string
        company_name:
          type: string
    McPaymentRequest:
      title: McPaymentRequest
      x-stoplight:
        id: de2bq7lgdyjc8
      type: object
      x-examples:
        example-1:
          request_id: unique-string-like-uuid
          data:
            - wallet: '00001111222233334444'
              amount: '16.999999'
              description: Arrival from the referral system MediaCube Music
      properties:
        request_id:
          type: string
          minLength: 16
          maxLength: 255
          description: 'Unique string like UUIDv4 '
        data:
          type: array
          items:
            type: object
            properties:
              wallet:
                type: string
                description: McPay user's wallet
                minLength: 16
                maxLength: 16
              amount:
                type: number
                minimum: 0
                format: float
              description:
                type: string
                description: Payment description for user
                maxLength: 255
            required:
              - wallet
              - amount
              - description
      required:
        - request_id
        - data
    McPaymentResource:
      type: object
      x-examples:
        example-1:
          data:
            request_id: c02e79a2-d30c-46e3-b3dd-c0e6a987acf8
            status: 2
            err_msg: null
            transactions:
              - id: 1
                invoice_path: /api/transactions/1/invoice
              - id: 2
                invoice_path: /api/transactions/2/invoice
        example-2:
          data:
            request_id: string
            status: 3
            err_msg: 3000
            transactions: []
      title: McPaymentResource
      description: ''
      properties:
        data:
          type: object
          properties:
            request_id:
              type: string
            status:
              type: integer
            err_msg:
              type: integer
              nullable: true
            transactions:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  invoice_path:
                    type: string
                    description: Invoice path to PDF file
  securitySchemes:
    Client credentials:
      type: oauth2
      flows:
        clientCredentials:
          refreshUrl: 'https://mcpay,io/oauth/token'
          scopes: {}
          tokenUrl: 'https://mcpay,io/oauth/token'
      description: Access to McPayments API
    Auth code:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://mcpay,io/oauth/authorize'
          tokenUrl: 'https://mcpay,io/oauth/token'
          scopes:
            user.channels: Channels assigned to user
            user.common: 'User full english profile '
            user.balance: 'User balance '
          refreshUrl: 'https://mcpay,io/oauth/token'
      description: Basic auth_code flow with redirect and callback
  examples: {}
  requestBodies: {}
  responses: {}
tags:
  - name: OAuth
  - name: Payments
security: []
