openapi: 3.0.0
info:
  title: MC Pay
  version: '1'
  description: |-
    ## API Call
    Using our APIs, you can execute requests to create transactions for your users within MC Pay (B2P Payments), and withdraw money from MC Pay using various payment methods (Payment Request).

    To perform any API call, you must first obtain a **client_id** and **client_secret** from your personal manager. Once you have these credentials, you need to obtain an access token. To do this, send an HTTP request to the [Initial Authentication](reference/api.yaml/paths/~1oauth~1token/post) endpoint. You will receive an access token that will be used to authenticate all your subsequent requests.

    ## Asynchronous Workflow
    MC Pay implements an asynchronous workflow, which is a type of communication between technological components that allows MC Pay to remain responsive to different events rather than waiting for requested tasks to complete.

    For example, when MC Pay receives a request to create a Bulk Payment Request, the partner is immediately notified that the request has been accepted. Meanwhile, MC Pay queues the request for processing.
  termsOfService: ''
servers:
  - url: 'https://mcpay.io'
    description: Production
  - description: Development
    url: 'https://mp-stage.mediacube.dev'
paths:
  /oauth/token:
    post:
      summary: Token
      operationId: post-oauth-token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_type:
                    type: string
                    enum:
                      - bearer
                  expires_in:
                    type: string
                  access_token:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_message:
                    type: string
                required:
                  - error
                  - error_description
                  - error_message
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                  format: uri
            examples:
              authorization_code:
                value:
                  grant_type: authorization_code
                  client_id: '1'
                  client_secret: secret
                  code: hjgsfugdskhgvklundfluvhdfnlvhls
                  redirect_url: 'https://yourapp.com/endpoint'
              partner:
                value:
                  grant_type: partner
                  client_id: '1'
                  client_secret: secret
        description: ''
      tags:
        - OAuth
  /oauth/user:
    get:
      summary: User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  email:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  lang:
                    type: string
                  wallet:
                    type: string
                    description: |-
                      Default wallet account number.
                      > The default wallet corresponds to the wallet with **USD** currency and **cyprus** region
                    deprecated: true
                    example: '1111222233334444'
                  wallets:
                    x-stoplight:
                      id: eivq9dww2cql7
                    type: array
                    items:
                      $ref: '#/components/schemas/Wallet'
                  kyc_status:
                    type: number
                  is_confirmed:
                    type: boolean
                    description: Mail confirmation status
                  is_company:
                    type: boolean
                    description: Indicates whether the user represents a company (true) or an individual (false)
                  channels:
                    type: array
                    items: {}
                  created_at:
                    type: string
                  country:
                    $ref: '#/components/schemas/Country'
      operationId: get-oauth-user
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
      security:
        - Auth code: []
      tags:
        - OAuth
  /oauth/user/balance:
    get:
      summary: Balance Scope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    x-stoplight:
                      id: wu721zh81bwkc
                    example: 1
                  balance:
                    type: string
                    description: Total balance (real_balance + credit_balance)
                    example: '30'
                  real_balance:
                    type: string
                    description: Balance of funds
                    example: '20'
                  credit_balance:
                    type: string
                    description: Balance of expresses
                    example: '10'
                  wallet:
                    $ref: '#/components/schemas/Wallet'
      operationId: get-oauth-user-balance
      description: |-
        Retrieving the user's wallet balance.
        If the **wallet** parameter is not provided, the default wallet is used.

        > The default wallet corresponds to the wallet with **USD** currency and **cyprus** region
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
        - schema:
            type: string
            example: '1111222233334444'
          in: query
          allowEmptyValue: true
          name: wallet
          description: Account wallet number
      security:
        - Auth code: []
      tags:
        - OAuth
    parameters: []
  /oauth/user/common:
    get:
      summary: Common Scope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  common:
                    type: object
                    properties:
                      name:
                        type: string
                        description: first name + last name
                      email:
                        type: string
                        format: email
                      lang:
                        type: string
                        description: xx - Language format from ISO
                      is_confirmed:
                        type: boolean
                      avatar:
                        type: string
                        format: uri
                      wallet:
                        type: string
                        description: |-
                          Default wallet account number
                          > The default wallet corresponds to the wallet with **USD** currency and **cyprus** region
                        deprecated: true
                        example: '1111222233334444'
                      wallets:
                        type: array
                        x-stoplight:
                          id: 4jitlonbz5h8f
                        items:
                          $ref: '#/components/schemas/Wallet'
                      profile:
                        $ref: '#/components/schemas/Profile'
                      birthday:
                        type: string
                        format: date
                        example: '1995-07-13'
                      sex:
                        enum:
                          - male
                          - female
                          - other
                      country_id:
                        type: number
                      country:
                        $ref: '#/components/schemas/Country'
      operationId: get-oauth-user-common
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
      security:
        - Auth code: []
      tags:
        - OAuth
  /oauth/user/channels:
    get:
      summary: Channel Scope
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    youtube_id:
                      type: string
                    title:
                      type: string
                    published_at:
                      type: string
                      format: date
                      example: '2020-05-12'
                    views_count:
                      type: number
                    subscribers_count:
                      type: number
                    is_google_user_owner:
                      type: boolean
                    image:
                      type: string
      operationId: get-oauth-user-channels
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
      security:
        - Auth code: []
      tags:
        - OAuth
  /oauth/employee-invitations:
    post:
      summary: Create employee invitations
      tags:
        - OAuth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    data:
                      - id: 1
                        email: example@example.com
                        status: 2
                        created_at: '2025-11-25T09:44:39+00:00'
                        updated_at: '2025-12-12T16:49:44+00:00'
                      - id: 2
                        email: example@example.com
                        status: 1
                        created_at: '2025-11-03T14:23:10+00:00'
                        updated_at: '2025-12-12T16:49:44+00:00'
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmployeeInvitation'
        '401':
          description: Your Access Token does not have access
        '422':
          description: Incorrect data
      operationId: post-oauth-employee-invitations
      x-stoplight:
        id: c1t0s6oqcjyu4
      security:
        - Client credentials: []
      description: |-
        The endpoint allows you to create employee invitations. Supports batch creating

        > **employee.invitations** scope is required to access
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: Token from partner grant
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  position_id: 2
                  emails:
                    - example@example.com
                    - ex@example.com
              required:
                - position_id
                - emails
              properties:
                position_id:
                  type: integer
                emails:
                  type: array
                  items:
                    type: string
            examples: {}
    get:
      summary: Get employee invitations
      tags:
        - OAuth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: gq7ia3o4yn4bn
                    items:
                      $ref: '#/components/schemas/EmployeeInvitation'
        '401':
          description: Your Access Token does not have access
      operationId: get-oauth-employee-invitations
      x-stoplight:
        id: c6cj4egqx0zj9
      description: |-
        The endpoint allows you to get employee invitations

        > **employee.invitations** scope is required to access
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: Token from partner grant
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
  /oauth/company/positions:
    get:
      summary: Get company positions
      tags:
        - OAuth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: 3vrtavfpjq3qc
                    items:
                      $ref: '#/components/schemas/CompanyPosition'
        '401':
          description: Your Access Token does not have access
      operationId: get-oauth-company-positions
      x-stoplight:
        id: r6f0mhiwtkdof
      description: |-
        The endpoint allows you to get company positions

        > **company.positions** scope is required to access
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
          description: Token from partner grant
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
  /payments:
    post:
      summary: 'Create payout payment [v1]'
      operationId: post-payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McPaymentResource'
        '401':
          description: Your Access Token does not have access
        '422':
          description: Incorrect data
      description: |-
        The endpoint allows you to make payouts to users. Supports batch payout payments.

        Payouts are only allowed for **default** wallets. If you need to create a payment to other wallets, please use the [Create payout payment [v2]](reference/api.yaml/paths/~1payments~1v2~1payout/post)

        > The default wallet corresponds to the wallet with **USD** currency and **cyprus** region
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
          description: 'Token from partner grant '
        - schema:
            type: string
            example: application/json
          in: header
          required: true
          name: Content-Type
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McPaymentRequestV1'
            examples:
              Example 1:
                value:
                  request_id: unique-string-like-uuid
                  data:
                    - wallet: '00001111222233334444'
                      amount: '16.99'
                      description: Arrival from the referral system MediaCube Music
                      date: '2025-02-02'
                    - wallet: '11112222333344445555'
                      amount: '12'
                      description: Arrival from the referral system MediaCube Music
                      date: '2025-03-03'
      deprecated: true
      tags:
        - B2P Payments / v1
    get:
      summary: 'Get payment [v1]'
      operationId: get-payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McPaymentResource'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: ''
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: ''
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          description: ''
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      security:
        - Client credentials: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
              properties:
                request_id:
                  type: string
        description: ''
      tags:
        - B2P Payments / v1
      deprecated: true
    parameters: []
  /payments/debit:
    post:
      summary: Create debit payment
      operationId: post-payments-debit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McPaymentResource'
        '401':
          description: Your Access Token does not have access
        '422':
          description: Incorrect data
      description: The endpoint allows you to debit money from users wallets. Supports batch debiting of money
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
          description: 'Token from partner grant '
        - schema:
            type: string
            example: application/json
          in: header
          required: true
          name: Content-Type
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      tags:
        - B2P Payments / v1
      security:
        - Client credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McPaymentRequestV1'
            examples:
              Example 1:
                value:
                  request_id: stringstringstri
                  data:
                    - wallet: stringstringstri
                      amount: 0
                      description: string
    parameters: []
  /payments/v2/payout:
    post:
      summary: 'Create payout payment [v2]'
      tags:
        - B2P Payments / v2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McPaymentResource'
        '401':
          description: Your Access Token does not have access
        '422':
          description: Incorrect data
      operationId: post-payments-v2-payout
      x-stoplight:
        id: rk861q33jlb3x
      description: The endpoint allows you to make payouts to users. Supports batch payout payments
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McPaymentRequestV2'
            examples:
              Example 1:
                value:
                  request_id: unique-string-like-uuid
                  currency: USD
                  region: cyprus
                  data:
                    - wallet: '0000111122223333'
                      amount: '16.99'
                      description: Arrival from the referral system MediaCube Music
                      date: '2025-02-02'
                    - wallet: '0000111122223333'
                      amount: '12'
                      description: Arrival from the referral system MediaCube Music
                      date: '2025-03-03'
        description: ''
  /payments/v2/status:
    get:
      summary: 'Get payment [v2]'
      tags:
        - B2P Payments / v2
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: get-payments-v2-status
      x-stoplight:
        id: 4y2cy7vg3bjey
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
              properties:
                request_id:
                  type: string
                  x-stoplight:
                    id: v707jmvr0xmpd
      description: ''
  /payments/v2/transactions/export:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: Binary
          headers:
            Content-Disposition:
              schema:
                type: string
              description: attachment; filename=transactions.csv
          content:
            application/octet-stream:
              schema:
                type: object
                properties: {}
              examples: {}
      operationId: get-payments-v2-export
      x-stoplight:
        id: vbf1v34dg8770
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Token from partner grant '
        - schema:
            type: string
          in: header
          name: Content-Type
        - schema:
            type: string
          in: header
          name: Accept
        - schema:
            type: array
            uniqueItems: false
            example: '?period_date[starts_at]=2026-02-01&period_date[ends_at]=2026-02-13'
            minItems: 2
            maxItems: 2
          in: query
          name: period_date
          description: Range of dates must be less than 31 day
        - schema:
            type: string
            enum:
              - month
              - week
              - two-weeks
              - quarter
              - day
          in: query
          name: period
        - schema:
            type: string
            enum:
              - cyprus
              - canada
              - kazakhstan
              - garna-cyprus
          in: query
          name: region
          required: true
        - schema:
            type: string
            enum:
              - USD
              - EUR
              - RUB
          in: query
          name: currency
          required: true
      description: |-
        The endpoint allows you to download csv files of your transactions.
        For this endpoint you must use the perio
  /payment-requests/v1/payment-methods:
    get:
      summary: Get Payment Methods
      tags:
        - Payment Requests
      operationId: get-payment-requests-v1-payment-methods
      x-stoplight:
        id: 9a7z72127b96d
      description: Provides a way to retrieve available payment methods.
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      security:
        - Client credentials: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - region
                - currency
              properties:
                region:
                  x-stoplight:
                    id: dm1anm9uqd1g7
                  description: Partner wallet account region
                  enum:
                    - cyprus
                    - canada
                    - kazakhstan
                currency:
                  x-stoplight:
                    id: l1tuy9klrxnhi
                  description: 'Partner wallet account currency [ISO-3 Format](https://www.iso.org/iso-4217-currency-codes.html)'
                  enum:
                    - USD
                    - EUR
      responses:
        '200':
          description: A successful response will contain a list of available payment methods.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: vfhs2k83zso0l
                    items:
                      x-stoplight:
                        id: rvb57uq43qtux
                      type: object
                      required:
                        - id
                        - name
                        - category
                      properties:
                        id:
                          type: integer
                          x-stoplight:
                            id: rmttffxqeobv7
                        name:
                          type: string
                          x-stoplight:
                            id: mi6axe3mb5i7f
                        category:
                          x-stoplight:
                            id: bnzkwfa8kv7p9
                          enum:
                            - bank_transfer
                            - card_transfer
                            - online_wallet
                            - crypto
              examples:
                Example 1:
                  value:
                    data:
                      - id: 1
                        name: To an account in EUR
                        category: bank_transfer
                      - id: 2
                        name: To a card in USD
                        category: card_transfer
                      - id: 3
                        name: WebMoney – USD
                        category: online_wallet
                      - id: 4
                        name: Tether ERC20
                        category: crypto
        '401':
          description: Unauthorized
        '422':
          description: Incorrect data
  /payment-requests/v1/payment-methods/fields:
    post:
      summary: Get Payment Method Fields
      tags:
        - Payment Requests
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    x-stoplight:
                      id: 6yjjknp623xlp
                    properties:
                      field_1:
                        type: object
                        x-stoplight:
                          id: vdomqgmf9mfmp
                        required:
                          - type
                          - title
                          - help_text
                          - dynamic
                        properties:
                          type:
                            x-stoplight:
                              id: p4ulhqcjvcx21
                            enum:
                              - text
                              - select
                              - date
                              - num
                              - toggle
                          title:
                            type: string
                            x-stoplight:
                              id: 72e1n1zo4c21a
                          help_text:
                            type: string
                            x-stoplight:
                              id: i87fmc9lybnhu
                            description: Description of field
                          dynamic:
                            type: boolean
                            x-stoplight:
                              id: 06jf4wg4dws7q
                            description: 'if true, then fields may differ when it is changed'
              examples:
                Example 1 - Fields for method Bank Transfer:
                  value:
                    data:
                      country:
                        type: select
                        title: Country
                        help_text: Country of the receiving bank
                        dynamic: true
                        options:
                          AL: Albania
                          DZ: Algeria
                          AD: Andorra
                      beneficiary_name:
                        type: text
                        title: Beneficiary's name
                        help_text: Full name of the recipient
                        dynamic: false
                        is_uppercase: false
                      is_fast:
                        type: toggle
                        title: Quick Transfer
                        help_text: Receive money in 2 hours instead of 2 days
                        dynamic: false
                Example 2 - Fields for method Card Transfer:
                  value:
                    data:
                      country:
                        type: select
                        title: Country
                        help_text: null
                        dynamic: false
                        options:
                          AL: Albania
                          DZ: Algeria
                          AD: Andorra
                      name_on_card:
                        type: text
                        title: Name on card
                        help_text: null
                        dynamic: false
                        is_uppercase: true
                      card_number:
                        type: text
                        title: Card number
                        help_text: null
                        dynamic: false
                        is_uppercase: false
                      expiration_date:
                        type: text
                        title: Card expiry date
                        help_text: null
                        dynamic: false
                        is_uppercase: false
                Example 3 - Fields for method Crypto Transfer:
                  value:
                    data:
                      wallet_address:
                        type: text
                        title: Wallet address
                        help_text: null
                        dynamic: false
                        is_uppercase: false
        '401':
          description: Unauthorized
        '422':
          description: Incorrect data
      operationId: get-payment-requests-v1-payment-methods-fields
      x-stoplight:
        id: ca6tmwetr9b3g
      description: |-
        Provides a way to retrieve associated required fields based on specified query parameters and fields required for each payment method.

        > Some payment methods may have different required fields depending on the request query **identity** field. Use the request without the **identity** field first to check if the result contains a field with the **dynamic** flag. And then pass the field **identity** to get the new required fields.
        > 
        > For example, the `bank_transfer` payment method may have **country-dependent required** fields. The `country` field is marked with `"dynamic": true` , because its value determines which other fields are needed.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
          description: 'Token from partner grant '
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - region
                - currency
                - payment_method_id
              properties:
                region:
                  x-stoplight:
                    id: roy7jktj9uamw
                  description: Partner wallet account region
                  enum:
                    - cyprus
                    - canada
                    - kazakhstan
                currency:
                  x-stoplight:
                    id: 468g1w58m1qmg
                  description: 'Partner wallet account currency [ISO-3 Format](https://www.iso.org/iso-4217-currency-codes.html)'
                  enum:
                    - USD
                    - EUR
                payment_method_id:
                  type: integer
                  x-stoplight:
                    id: tb9zps74c70f8
                  description: Payment method ID
                identity:
                  type: object
                  x-stoplight:
                    id: 4gpqh7cfdorb7
                  description: 'provided with the required dynamic values (for example, `"country": "DE"`), the response will include the updated set of required fields for that context.'
            examples:
              Example 1:
                value:
                  region: cyprus
                  currency: USD
                  payment_method_id: 52
                  identity:
                    field_1: text
                    field_2: text
    parameters: []
  /payment-requests/v1/templates:
    post:
      summary: Create template
      tags:
        - Payment Requests
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Template'
              examples:
                Example 1:
                  value:
                    data:
                      id: 1
                      payment_method_id: 54
                      title: To an account in EUR
                      identity:
                        field_1: text
                        field_2: text
        '401':
          description: Unauthorized
        '422':
          description: Incorrect data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Template'
      operationId: post-payment-requests-v1-templates
      x-stoplight:
        id: f36289p0k545c
      description: Before creating a Payment Request you need to create a transfer template.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - region
                - currency
                - payment_method_id
                - identity
                - title
              properties:
                region:
                  x-stoplight:
                    id: cplizxt83xs9n
                  enum:
                    - cyprus
                    - canada
                    - kazakhstan
                  description: Partner wallet account region
                currency:
                  x-stoplight:
                    id: bse4dsvzf448z
                  description: 'Partner wallet account currency [ISO-3 Format](https://www.iso.org/iso-4217-currency-codes.html)'
                  enum:
                    - USD
                    - EUR
                payment_method_id:
                  type: integer
                  x-stoplight:
                    id: fgcfx9li2xqzx
                  description: Payment method ID
                identity:
                  type: object
                  x-stoplight:
                    id: kc3zhplbjnx49
                  description: 'Template detalis, you can get required payment method fields [here](reference/api.yaml/paths/~1payment-requests~1v1~1payment-methods~1fields/post)'
                title:
                  type: string
                  x-stoplight:
                    id: 9puseqohsm0th
            examples:
              Example 1:
                value:
                  region: cyprus
                  currency: USD
                  payment_method_id: 54
                  identity:
                    field_1: text
                    field_2: text
                  title: To an account in EUR
    get:
      summary: Get templates
      tags:
        - Payment Requests
      responses:
        '200':
          description: A successful response will contain a list of available templates.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                  - path
                  - per_page
                  - to
                  - total
                properties:
                  data:
                    x-stoplight:
                      id: 7kjrzm85zg0y6
                    type: array
                    items:
                      x-stoplight:
                        id: z7e63lhkgqhqu
                      type: object
                      required:
                        - ''
                      properties:
                        '':
                          $ref: '#/components/schemas/Template'
                  links:
                    type: array
                    x-stoplight:
                      id: cbsp5fzliznl8
                    description: |
                      A list of URLs leading to the corresponding pages.
                    items:
                      x-stoplight:
                        id: rln3tah2er2gv
                      type: object
                      required:
                        - url
                        - label
                        - active
                      properties:
                        url:
                          type: string
                          x-stoplight:
                            id: i6z17fb2z1izf
                        label:
                          type: string
                          x-stoplight:
                            id: azno08e8vlbqd
                          description: The number of the page.
                        active:
                          type: boolean
                          x-stoplight:
                            id: 5h2h2m73g3l4c
                          description: Identifies the current page.
                  meta:
                    type: object
                    x-stoplight:
                      id: egphg03xtpj9j
                    required:
                      - current_page
                      - from
                      - last_page
                    properties:
                      current_page:
                        type: integer
                        x-stoplight:
                          id: gdhnbbxflcrtp
                        description: Number of the current page in the response pagination.
                      from:
                        type: integer
                        x-stoplight:
                          id: ktyx8qd00begv
                        description: The first entry on the current page.
                      last_page:
                        type: integer
                        x-stoplight:
                          id: k4k1vbmcomk9a
                        description: Number of the last page in the response pagination.
                  path:
                    type: string
                    x-stoplight:
                      id: u8gcwfwfzhtbh
                    description: Base path of the method.
                  per_page:
                    type: integer
                    x-stoplight:
                      id: kir6jncm1963w
                    description: Number of entries per page. Partner can manage the entries per page.
                    default: 20
                    minimum: 1
                    maximum: 100
                  to:
                    type: integer
                    x-stoplight:
                      id: sykk83674kuyi
                    description: The last entry on the current page.
                  total:
                    type: integer
                    x-stoplight:
                      id: zonimhwrx708h
                    description: Total number of entries in the response.
              examples:
                Example 1:
                  value:
                    data:
                      - id: 1
                        payment_method_id: 10
                        title: Webmoney second
                        identity:
                          field_1: text
                          field_2: text
                        created_at: '2025-10-27T15:07:25+00:00'
                        updated_at: '2025-10-27T15:07:25+00:00'
                      - id: 2
                        payment_method_id: 10
                        title: Webmoney first
                        identity:
                          field_1: text
                          field_2: text
                        created_at: '2025-10-27T15:06:38+00:00'
                        updated_at: '2025-10-27T15:06:38+00:00'
                    links:
                      first: 'https://mp-stage.mediacube.dev/payment-requests/v1/templates?page=1'
                      last: 'https://mp-stage.mediacube.dev/payment-requests/v1/templates?page=1'
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      links:
                        - url: null
                          label: '&laquo; Previous'
                          active: false
                        - url: 'https://mp-stage.mediacube.dev/payment-requests/v1/templates?page=1'
                          label: '1'
                          active: true
                        - url: null
                          label: Next &raquo;
                          active: false
                      path: 'https://mp-stage.mediacube.dev/payment-requests/v1/templates'
                      per_page: 20
                      to: 2
                      total: 2
        '401':
          description: Unauthorized
        '422':
          description: Incorrect data
      operationId: get-payment-requests-v1-templates
      x-stoplight:
        id: 1liw9tblw2op9
      description: Provides a way to retrieve available templates.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
          description: 'Token from partner grant '
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - region
                - currency
                - payment_method_id
              properties:
                region:
                  x-stoplight:
                    id: ktfcont6utukj
                  enum:
                    - cyprus
                    - canada
                    - kazakhstan
                  description: Partner wallet account region
                currency:
                  type: string
                  x-stoplight:
                    id: 59zf8gpfank75
                  description: 'Partner wallet account currency [ISO-3 Format](https://www.iso.org/iso-4217-currency-codes.html)'
                payment_method_id:
                  type: integer
                  x-stoplight:
                    id: gxduecn8pnb5z
                  description: Payment method ID
                page:
                  type: integer
                  x-stoplight:
                    id: l9z160ntcxctn
                  description: |
                    Use this parameter to specify the desired page number
                per_page:
                  type: integer
                  x-stoplight:
                    id: td2hwls4zvwbz
                  description: The number of items to return per page
    parameters: []
  '/payment-requests/v1/templates/{templateId}':
    parameters:
      - schema:
          type: string
        name: templateId
        in: path
        required: true
    get:
      summary: Request Template Information
      tags:
        - Payment Requests
      responses:
        '200':
          description: A successful response will contain the following dataset for the template.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Template'
              examples:
                Example 1:
                  value:
                    data:
                      id: 1
                      payment_method_id: 54
                      title: To an account in EUR
                      identity:
                        field_1: text
                        field_2: text
        '404':
          description: Not Found
      operationId: get-payment-requests-v1-templates-templateId
      x-stoplight:
        id: 38v3gdnbhjlaz
      description: Use this method to request information about a specific template.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
    delete:
      summary: Delete Template
      tags:
        - Payment Requests
      responses:
        '204':
          description: |
            Will respond with HTTP 204 No Content if the operation was successful.
        '404':
          description: Not Found
      operationId: delete-payment-requests-v1-templates-templateId
      x-stoplight:
        id: guv020jidb2z5
      description: Use this method to delete a specific template.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
  /payment-requests/v1/calculate:
    get:
      summary: Calculate Payment Request
      tags:
        - Payment Requests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - withdraw
                  - payment
                properties:
                  withdraw:
                    type: object
                    x-stoplight:
                      id: qgqluw629d1f9
                    required:
                      - currency
                      - amount
                      - fee
                      - total_amount
                    description: Information about the amount withdrawn from the Partner account.
                    properties:
                      currency:
                        type: string
                        x-stoplight:
                          id: 0lu1pwx7lpfdn
                        description: currency of withdrawal.
                      amount:
                        type: string
                        x-stoplight:
                          id: ra0im9syog8bb
                        description: amount without fees.
                      fee:
                        type: string
                        x-stoplight:
                          id: o0tn8a94q3wp8
                        description: withdrawal fee.
                      total_amount:
                        type: string
                        x-stoplight:
                          id: b5jj3qy8is349
                        description: total amount to be withdrawn (including fee).
                  exchange:
                    type: object
                    x-stoplight:
                      id: 19bmkw8lzio0r
                    description: 'Details of the currency exchange, if conversion is required. May be omitted if no exchange takes place.'
                    properties:
                      currency:
                        type: string
                        x-stoplight:
                          id: 6as8xtuaahv0j
                        description: currency after exchange.
                      rate:
                        type: string
                        x-stoplight:
                          id: i4kiucnu693kf
                        description: exchange rate.
                      amount:
                        type: string
                        x-stoplight:
                          id: 9zjt7bx8y814d
                        description: exchanged amount without fees.
                      fee:
                        type: string
                        x-stoplight:
                          id: 8crvqq97nzvqn
                        description: exchange fee.
                      total_amount:
                        type: string
                        x-stoplight:
                          id: cxsdlcc2iajcw
                        description: total exchanged amount (including fee).
                  payment:
                    type: object
                    x-stoplight:
                      id: xn35lynj0g58s
                    description: Final payment details after withdrawal and possible exchange.
                    required:
                      - currency
                      - amount
                      - fee
                    properties:
                      currency:
                        type: string
                        x-stoplight:
                          id: 5u32osz7on8i2
                        description: payment currency.
                      amount:
                        type: string
                        x-stoplight:
                          id: pboz9a7q3uwzp
                        description: payment amount without fee.
                      fee:
                        type: string
                        x-stoplight:
                          id: s2o276hq4f7z6
                        description: payment fee.
              examples:
                Example 1 - Calculation with exchange:
                  value:
                    withdraw:
                      currency: USD
                      amount: '100.00'
                      fee: '0.00'
                      total_amount: '100.00'
                    exchange:
                      currency: USDTE
                      rate: '1'
                      amount: '85'
                      fee: '15'
                      total_amount: '100'
                    payment:
                      currency: USDTE
                      amount: '85'
                      fee: '15'
                Example 2 - Calculation without exchange:
                  value:
                    withdraw:
                      currency: EUR
                      amount: '100.00'
                      fee: '50.00'
                      total_amount: '150.00'
                    exchange: null
                    payment:
                      currency: EUR
                      amount: '100.00'
                      fee: '150.00'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '422':
          description: Incorrect data
      operationId: get-payment-requests-v1-calculate
      x-stoplight:
        id: 990goccslspe6
      description: |-
        Use this method to get a preliminary Payment Request calculation.

        > If the payment involves currency conversion, the calculated amount is not final and may change if the exchange rate changes at the moment when the payment is processed.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
          description: 'Token from partner grant '
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - template_id
                - amount
              properties:
                template_id:
                  type: string
                  x-stoplight:
                    id: syn1xl8fa3uxd
                  description: Template ID
                amount:
                  type: number
                  x-stoplight:
                    id: mpx3ulihnpzow
                  description: Withdrawal amount
  /payment-requests/v1/single:
    post:
      summary: Create Single Payment Request
      tags:
        - Payment Requests
      responses:
        '200':
          description: |-
            The response contains two objects:

            - **payout** - a payout entity (shared between single and bulk requests).
            - **payment_request** - the created payment request with its details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    x-stoplight:
                      id: 3emn7diipkq65
                    description: contains payout details and the created payment request.
                    required:
                      - payout
                      - payment_request
                    properties:
                      payout:
                        type: object
                        x-stoplight:
                          id: tjm7hh5rpsdc2
                        description: Represents the created payout batch. This object is common to both **single** and **bulk** requests.
                        required:
                          - id
                          - request_id
                          - status
                          - err_msg
                        properties:
                          id:
                            type: integer
                            x-stoplight:
                              id: 9v9ln7eggrz27
                            description: internal payout ID.
                          request_id:
                            type: string
                            x-stoplight:
                              id: jatn4vc2u4wlf
                            description: internal unique identifier of the payout request.
                          status:
                            type: integer
                            x-stoplight:
                              id: 6o4zzln4astce
                            description: |-
                              current payout status. Possible values:
                              - **1** — process (payout is being processed)
                              - **2** — success (payout completed successfully)
                              - **3** — error (payout failed)
                          err_msg:
                            type: string
                            x-stoplight:
                              id: gp8q19rhy9r8h
                            description: |-
                              error code if the payout failed, otherwise null.
                              You can see the list of error codes [here](docs/references/Errors.md).
                      payment_request:
                        type: object
                        x-stoplight:
                          id: wysqyz8s9gtyr
                        description: Contains the newly created payment request.
                        required:
                          - id
                          - template_id
                          - withdraw
                          - payment_purpose
                          - status
                        properties:
                          id:
                            type: integer
                            x-stoplight:
                              id: 47i5qdl9f6m6n
                            description: internal payment request ID.
                          template_id:
                            type: number
                            x-stoplight:
                              id: 14fcx6uqomfnd
                            description: ID of the request template used for creation.
                          withdraw:
                            type: object
                            x-stoplight:
                              id: 6pu2yc0q9dlhx
                            description: withdrawal details.
                            required:
                              - currency
                              - amount
                              - fee
                            properties:
                              currency:
                                type: string
                                x-stoplight:
                                  id: g6pikrh222ilg
                                description: withdrawal currency.
                              amount:
                                type: string
                                x-stoplight:
                                  id: 6zzosuzw53ydn
                                description: withdrawal amount without fee.
                              fee:
                                type: string
                                x-stoplight:
                                  id: k7782f782vz58
                                description: withdrawal fee.
                          payment_purpose:
                            type: string
                            x-stoplight:
                              id: 4yrhoegmljrm9
                            description: optional purpose of the payment.
                          status:
                            type: string
                            x-stoplight:
                              id: seennjcy4l3le
                            description: 'current status of the payment request. You can see detailed status descriptions [here](docs/references/PaymentRequestStatuses.md)'
              examples:
                Example 1:
                  value:
                    data:
                      payout:
                        id: 26922
                        request_id: e9a70fde-c218-4bda-8bbf-8ef6942fba75
                        status: 2
                        err_msg: null
                      payment_request:
                        id: 133199
                        template_id: 76678
                        withdraw:
                          currency: USD
                          amount: '90'
                          fee: '0'
                        payment_purpose: null
                        status: new
                        created_at: '2025-09-08T08:18:09+00:00'
                        updated_at: '2025-09-08T08:18:09+00:00'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '422':
          description: Incorrect data
      operationId: post-payment-requests-v1-single
      x-stoplight:
        id: txcwalicey6tt
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - template_id
                - request_id
              properties:
                amount:
                  type: number
                  x-stoplight:
                    id: mqu08epogzkv4
                  description: Withdrawal amount
                  format: float
                template_id:
                  type: string
                  x-stoplight:
                    id: m5w3klub8n1vn
                  description: Template ID
                request_id:
                  type: string
                  x-stoplight:
                    id: o3ttdg2nhwcjv
                  description: Unique string like UUIDv4
                payment_purpose:
                  type: string
                  x-stoplight:
                    id: u0jc4tqpul1cv
                  description: optional purpose of the payment.
            examples:
              Example 1:
                value:
                  amount: 90
                  template_id: 76678
                  request_id: '11112222333346045'
        description: Creates a new Payment Request. Both validation and transaction creation are performed **synchronously**.
      description: |
        This endpoint is used to create a new Payment Request.

        It provides a way to initiate a transaction with all required details in a **single** request.

        ###### Processing

        Validation of request parameters is performed immediately.

        If validation passes, the payment transaction is created **synchronously** within the same call.

        The response contains the details of the newly created Payment Request.
  /payment-requests/v1/bulk:
    post:
      summary: Create Bulk Payment Requests
      tags:
        - Payment Requests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    x-stoplight:
                      id: bntqupmsf75w7
                    required:
                      - payout
                    properties:
                      payout:
                        type: object
                        x-stoplight:
                          id: wnycve0690tlg
                        description: Represents the created payout batch. This object is common to both **single** and **bulk** requests.
                        required:
                          - id
                          - request_id
                          - status
                          - err_msg
                        properties:
                          id:
                            type: integer
                            x-stoplight:
                              id: v7fthppcssf0e
                            description: internal payout ID.
                          request_id:
                            type: string
                            x-stoplight:
                              id: zej9pmw2hdcbh
                            description: internal unique identifier of the payout request.
                          status:
                            type: integer
                            x-stoplight:
                              id: stjyjlr2eeat4
                            description: |-
                              current payout status. Possible values:
                              - **1** — process (payout is being processed)
                              - **2** — success (payout completed successfully)
                              - **3** — error (payout failed)
                          err_msg:
                            type: integer
                            x-stoplight:
                              id: a2mpyq4kop042
                            description: |-
                              error code if the payout failed, otherwise null.
                              You can see the list of error codes [here](docs/references/Errors.md).
              examples:
                Example 1:
                  value:
                    data:
                      payout:
                        id: 26923
                        request_id: 7caf32d4-1ad8-485b-8d46-bcb2980a8f2e
                        status: 1
                        err_msg: null
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '422':
          description: Incorrect data
      operationId: post-payment-requests-v1-bulk
      x-stoplight:
        id: 2bkvkku1qdzpo
      description: |-
        The **bulk** method is used to submit batches of up to 50 payments to the MC Pay system.

        Validation is performed in two stages:

        **Synchronous validation** — executed immediately on request submission. This checks the structural integrity of the payload and whether all required fields conform to their format and type restrictions. If these checks fail, the request is rejected and no batch is created.

        **Asynchronous validation** — executed after the batch has been accepted. These checks include business rules such as sufficient funds, template availability, account status, and other per-payment validations. Failures at this stage are reflected in the processing results of individual payments, but do not cause the entire request to fail.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - region
                - currency
                - payment_method_id
                - payments
              properties:
                region:
                  x-stoplight:
                    id: rpgp24wr3prlt
                  enum:
                    - cyprus
                    - canada
                    - kazakhstan
                  description: Partner wallet account region
                currency:
                  x-stoplight:
                    id: ja6grw44h0kgk
                  enum:
                    - USD
                    - EUR
                  description: 'Partner wallet account currency [ISO-3 Format](https://www.iso.org/iso-4217-currency-codes.html)'
                payment_method_id:
                  type: integer
                  x-stoplight:
                    id: 3rvm7zkts5y3q
                  description: Payment method ID
                payments:
                  type: array
                  x-stoplight:
                    id: 2kemk52oxg402
                  items:
                    x-stoplight:
                      id: duwn9mbyi8rlf
                    type: object
                    required:
                      - request_id
                      - template_id
                      - amount
                    properties:
                      request_id:
                        type: string
                        x-stoplight:
                          id: vxwdj470jyfyc
                        description: Unique string like UUIDv4
                      template_id:
                        type: integer
                        x-stoplight:
                          id: fpifqovsjb25j
                        description: Template ID
                      amount:
                        type: number
                        x-stoplight:
                          id: mscrq0y2tqhhk
                        description: Withdrawal amount
                        format: float
                      payment_purpose:
                        type: string
                        x-stoplight:
                          id: anloiute9iyq1
                        description: optional purpose of the payment.
            examples:
              Example 1:
                value:
                  currency: USD
                  region: cyprus
                  payment_method_id: 77
                  payments:
                    - request_id: '11112222333344551'
                      template_id: 76678
                      amount: 100
                    - request_id: '11112222333344552'
                      template_id: 76679
                      amount: 100
  /payment-requests/v1/status:
    get:
      summary: Get Payment Request Status
      tags:
        - Payment Requests
      responses:
        '200':
          description: |-
            Retrieves both the draft and the finalized Payment Request.

            The **draft_payment_request** is always created and is especially useful if an error occurs, since it contains the error code.

            The **payment_request** object appears only if the request was successfully validated and processed.

            > The fields **exchange** and **payment** are included in the response only when the payment_request.status is "success".
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    x-stoplight:
                      id: bj91v85l2s7d0
                    description: Wrapper containing draft and final payment request details.
                    required:
                      - draft_payment_request
                      - payment_request
                    properties:
                      draft_payment_request:
                        type: object
                        x-stoplight:
                          id: q5j7kxk6zem2o
                        description: Always present.
                        required:
                          - id
                          - request_id
                          - payout_id
                          - status
                          - err_msg
                        properties:
                          id:
                            type: integer
                            x-stoplight:
                              id: m92vj0htd6url
                            description: internal draft ID.
                          request_id:
                            type: string
                            x-stoplight:
                              id: s5note3qlvbgh
                            description: unique identifier associated with the draft.
                          payout_id:
                            type: integer
                            x-stoplight:
                              id: tlyz7apsunj43
                            description: ID of the payout batch this draft belongs to.
                          status:
                            type: string
                            x-stoplight:
                              id: ouk1g7goum9l2
                            description: |-
                              current draft status. Possible values:
                              - **1** — success (payout completed successfully)
                              - **2** — error (payout failed)
                          err_msg:
                            type: string
                            x-stoplight:
                              id: hckes4hmzd6ok
                            description: |-
                              error message if creation/validation failed; otherwise null.
                              You can see the list of error codes [here](docs/references/Errors.md).
                      payment_request:
                        type: object
                        x-stoplight:
                          id: 65e47vk941yvw
                        description: Returned only if the payment request was successfully created.
                        required:
                          - id
                          - template_id
                          - withdraw
                          - payment_purpose
                          - template
                          - status
                        properties:
                          id:
                            type: integer
                            x-stoplight:
                              id: kgbnw70efmjdl
                          template_id:
                            type: integer
                            x-stoplight:
                              id: itocftj01hke8
                            description: Template ID
                          withdraw:
                            type: object
                            x-stoplight:
                              id: e5uvc5em5m0uw
                            description: Details about the withdrawal from the account.
                            required:
                              - currency
                              - amount
                              - fee
                            properties:
                              currency:
                                type: string
                                x-stoplight:
                                  id: zwbeyfb62j9hc
                                description: withdrawal currency.
                              amount:
                                type: string
                                x-stoplight:
                                  id: et6207hiv0usj
                                description: amount without fee.
                              fee:
                                type: string
                                x-stoplight:
                                  id: sght0xmqdkbvd
                                description: withdrawal fee.
                          exchange:
                            type: object
                            x-stoplight:
                              id: xa5trvbszqvtn
                            description: 'exchange (object, optional, present only if status = "success")'
                            properties:
                              currency:
                                type: string
                                x-stoplight:
                                  id: q17cu90bhad9g
                                description: target currency after exchange.
                              rate:
                                type: string
                                x-stoplight:
                                  id: arwhpg8x9mmvt
                                description: applied exchange rate.
                              amount:
                                type: string
                                x-stoplight:
                                  id: hbnyvz47kas3l
                                description: converted amount without fee.
                              fee:
                                type: string
                                x-stoplight:
                                  id: pvooo3rprlk78
                                description: exchange fee.
                              total_amount:
                                type: string
                                x-stoplight:
                                  id: 8cnfxfoekebf5
                                description: total exchanged amount including fee.
                          payment:
                            type: object
                            x-stoplight:
                              id: g2mivn7r5m7mu
                            description: 'payment (object, optional, present only if status = "success")'
                            properties:
                              currency:
                                type: string
                                x-stoplight:
                                  id: xdfxs7co9n2j5
                                description: payment currency.
                              amount:
                                type: string
                                x-stoplight:
                                  id: hszwdrn2hitq4
                                description: payment amount without fee.
                              fee:
                                type: string
                                x-stoplight:
                                  id: 9ogqo2hcbg0ry
                                description: payment fee.
                          payment_purpose:
                            type: string
                            x-stoplight:
                              id: 2zljbc8r6b5fy
                            description: optional payment description or purpose.
                          template:
                            $ref: '#/components/schemas/Template'
                          status:
                            type: string
                            x-stoplight:
                              id: 2woxk9xhhcnw0
                            description: 'current status of the payment request. You can see detailed status descriptions [here](docs/references/PaymentRequestStatuses.md)'
              examples:
                Example 1:
                  value:
                    data:
                      draft_payment_request:
                        id: 214
                        request_id: '11112222333346045'
                        payout_id: 26922
                        status: 1
                        err_msg: null
                        created_at: '2025-09-08T08:18:08+00:00'
                        updated_at: '2025-09-08T08:18:08+00:00'
                      payment_request:
                        id: 133199
                        template_id: 76678
                        withdraw:
                          currency: USD
                          amount: '90'
                          fee: '0'
                        exchange:
                          currency: USDTE
                          rate: '1'
                          amount: '76'
                          fee: '14'
                          total_amount: '90'
                        payment:
                          currency: USDTE
                          amount: '76'
                          fee: '14'
                        payment_purpose: null
                        template:
                          id: 76678
                          payment_method_id: 77
                          title: template 23
                          identity:
                            wallet_address: '0xAec96DEaA44041eFF8F07dB98BA0B695fde2374F'
                          created_at: '2025-08-07T15:24:29+00:00'
                          updated_at: '2025-08-08T11:31:28+00:00'
                        status: new
                        created_at: '2025-09-08T08:18:09+00:00'
                        updated_at: '2025-09-08T08:18:09+00:00'
        '404':
          description: Not Found
      operationId: get-payment-requests-v1-status
      x-stoplight:
        id: 121fvm9ntgc8u
      description: Retrieves the status of a Payment Request using the **request_id** from a previously created single or bulk request.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
              properties:
                request_id:
                  type: string
                  x-stoplight:
                    id: ny0ptx0w9k4gr
                  description: Retrieves the status of a Payment Request using the request_id from a previously created single or bulk request.
  '/payment-requests/v1/payout/{payoutId}':
    parameters:
      - schema:
          type: string
        name: payoutId
        in: path
        required: true
        description: Retrieve the status of a payout batch using the payout_id from a previously created single or bulk request.
    get:
      summary: Get Status of Payout batch
      tags:
        - Payment Requests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    x-stoplight:
                      id: pjmlepfqst2mm
                    required:
                      - id
                      - request_id
                      - status
                      - err_msg
                      - payment_request_status_count
                    properties:
                      id:
                        type: integer
                        x-stoplight:
                          id: av2f89pz0175i
                        description: internal payout ID.
                      request_id:
                        type: string
                        x-stoplight:
                          id: ok44iuvf3l6t6
                        description: unique identifier for this payout batch.
                      status:
                        type: integer
                        x-stoplight:
                          id: ixqow6wi4l87b
                        description: |-
                          current status of the payout batch. Possible values:
                          - **1** — process (payout is being processed)
                          - **2** — success (payout completed successfully)
                          - **3** — error (payout failed)
                      err_msg:
                        type: string
                        x-stoplight:
                          id: j3xi1egk130od
                        description: |-
                          error code if the payout failed, otherwise null.
                          You can see the list of error codes [here](docs/references/Errors.md).
                      payment_request_status_count:
                        type: object
                        x-stoplight:
                          id: qp3ifo0eydr16
                        description: summary of the statuses of all individual Payment Requests in the batch.
                        required:
                          - requested
                          - pending
                          - completed
                          - not_created
                        properties:
                          requested:
                            type: integer
                            x-stoplight:
                              id: 9gy5xx7noetjf
                            description: number of requests that were submitted.
                          pending:
                            type: integer
                            x-stoplight:
                              id: wkoxd88l3a5no
                            description: number of requests that are still in progress.
                          completed:
                            type: integer
                            x-stoplight:
                              id: 7lubu2mc9g6i4
                            description: 'it represents all requests that have reached a **final** status, whether success or error.'
                          not_created:
                            type: integer
                            x-stoplight:
                              id: 3vxvn2bwu3jyn
                            description: number of requests that were not created due to errors or validation failures.
              examples:
                Example 1:
                  value:
                    data:
                      id: 26915
                      request_id: 6dc1cb6c-a0ff-42f2-97a8-2653e2dabfbe
                      status: 2
                      err_msg: null
                      payment_request_status_count:
                        requested: 2
                        pending: 0
                        completed: 0
                        not_created: 0
        '404':
          description: Not Found
      operationId: get-payment-requests-v1-payout-payoutId
      x-stoplight:
        id: di1mw6gchsvyd
      description: |-
        This endpoint is used to retrieve the status of a payout batch using the **payout_id** from a previously created single or bulk request.

        The response includes overall batch information and a summary of the statuses of all Payment Requests in that batch.
      security:
        - Client credentials: []
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: 'Token from partner grant '
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
components:
  schemas:
    Country:
      title: Country
      type: object
      description: ''
      properties:
        id:
          type: number
        youtube_id:
          type: string
        code:
          type: string
        code_aplha3:
          type: string
        name:
          type: string
    Profile:
      title: Profile
      type: object
      properties:
        id:
          type: number
        user_id:
          type: number
        first_name:
          type: string
        last_name:
          type: string
        middle_name:
          type: string
        name:
          type: string
        region:
          type: string
        city:
          type: string
        address:
          type: string
        lang:
          type: string
        tax_id:
          type: string
        business_id:
          type: string
        is_real_address:
          type: boolean
        province:
          type: string
        real_province:
          type: string
        real_city:
          type: string
        real_adress:
          type: string
        real_postcode:
          type: string
        postcode:
          type: string
        company_name:
          type: string
    Wallet:
      title: Wallet
      x-stoplight:
        id: oi76a0mujbspf
      type: object
      properties:
        id:
          type: number
          x-stoplight:
            id: nsrsjjvi85h72
        region:
          x-stoplight:
            id: h2gas0yx8gmg8
          enum:
            - cyprus
            - canada
            - kazakhstan
        currency:
          x-stoplight:
            id: gbwrw7458tfl0
          description: 'Currency [ISO-3 Format](https://www.iso.org/iso-4217-currency-codes.html)'
          enum:
            - USD
            - EUR
        number:
          type: string
          x-stoplight:
            id: ka7yije5hvkrc
          description: Wallet account number
          example: '1111222233334444'
    McPaymentRequestV1:
      title: McPaymentRequestV1
      x-stoplight:
        id: de2bq7lgdyjc8
      type: object
      x-examples:
        example-1:
          request_id: unique-string-like-uuid
          data:
            - wallet: '00001111222233334444'
              amount: '16.99'
              description: Arrival from the referral system MediaCube Music
              date: '2025-02-02'
            - wallet: '11112222333344445555'
              amount: '12'
              description: Arrival from the referral system MediaCube Music
              date: '2025-03-03'
      required:
        - request_id
        - data
      properties:
        request_id:
          type: string
          minLength: 16
          maxLength: 255
          description: 'Unique string like UUIDv4 '
        data:
          type: array
          items:
            type: object
            required:
              - wallet
              - amount
              - description
            properties:
              wallet:
                type: string
                description: McPay user's wallet
                minLength: 16
                maxLength: 16
              amount:
                type: number
                minimum: 0
                format: float
                exclusiveMaximum: false
                exclusiveMinimum: false
              description:
                type: string
                description: Payment description for user
                maxLength: 255
              date:
                type: string
                x-stoplight:
                  id: 03endfnm3fsml
                format: date
                description: 'Payment date. If not provided, the current date will be used.'
    McPaymentRequestV2:
      title: McPaymentRequestV2
      x-stoplight:
        id: qbxbl3102noi0
      type: object
      x-examples:
        Example 1:
          request_id: unique-string-like-uuid
          currency: USD
          region: cyprus
          data:
            - wallet: '00001111222233334444'
              amount: '16.99'
              description: Arrival from the referral system MediaCube Music
              date: '2025-02-02'
              custom_id: '234234234'
            - wallet: '11112222333344445555'
              amount: '12'
              description: Arrival from the referral system MediaCube Music
              date: '2025-03-03'
              custom_id: null
      required:
        - request_id
        - region
        - currency
        - data
      properties:
        request_id:
          type: string
          x-stoplight:
            id: o25ppsqypfrfk
          description: 'Unique string like UUIDv4 '
        region:
          x-stoplight:
            id: 3r1yvc4nv6waa
          enum:
            - cyprus
            - canada
            - kazakhstan
          description: Partner wallet account region
        currency:
          x-stoplight:
            id: zhj6917di8jqm
          description: 'Partner wallet account currency [ISO-3 Format](https://www.iso.org/iso-4217-currency-codes.html)'
          enum:
            - USD
            - EUR
        data:
          type: array
          x-stoplight:
            id: eg7xwmw9m9jxg
          items:
            x-stoplight:
              id: 6nzad5e2kocct
            type: object
            required:
              - wallet
              - amount
              - description
            properties:
              wallet:
                type: string
                x-stoplight:
                  id: 5vg4ii9jwjcuc
                description: McPay user's wallet
                minLength: 16
                maxLength: 16
              amount:
                type: number
                x-stoplight:
                  id: d4p1mhdiisltf
                format: float
                minimum: 0.01
              description:
                type: string
                x-stoplight:
                  id: z3or2kx7miw7b
                description: Payment description for user
                maxLength: 255
              date:
                type: string
                x-stoplight:
                  id: e2cph8ripv7l5
                format: date
                description: 'Payment date. If not provided, the current date will be used.'
              custom_id:
                type: string
                x-stoplight:
                  id: y4jtvfyukjzhg
                description: An external id
                maxLength: 255
    McPaymentResource:
      type: object
      x-examples:
        example-1:
          data:
            request_id: c02e79a2-d30c-46e3-b3dd-c0e6a987acf8
            status: 2
            err_msg: null
            transactions:
              - id: 1
                invoice_path: /api/transactions/1/invoice
              - id: 2
                invoice_path: /api/transactions/2/invoice
        example-2:
          data:
            request_id: string
            status: 3
            err_msg: 3000
            transactions: []
      title: McPaymentResource
      description: ''
      properties:
        data:
          type: object
          properties:
            request_id:
              type: string
            status:
              type: integer
            err_msg:
              type: integer
              nullable: true
            transactions:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  invoice_path:
                    type: string
                    description: Invoice path to PDF file
    Template:
      title: Template
      x-stoplight:
        id: bwt76jxdf9zq6
      type: object
      properties:
        id:
          type: number
          x-stoplight:
            id: ucgfour81lv5w
        payment_method_id:
          type: number
          x-stoplight:
            id: yphjtpzyx1k9i
        title:
          type: string
          x-stoplight:
            id: 09guaeapoi3oy
        identity:
          type: object
          x-stoplight:
[...]
