openapi: 3.0.0
info:
  title: Ezzy Pay
  version: '1.0'
  description: Payment API for making bulk transactions between third-party applications and Ezzy
  contact:
    name: Egor
    email: en@mediacube.network
  termsOfService: 'https://apidocks.ezzy.co/terms'
servers:
  - url: 'https://ezzy.co'
    description: Production
  - description: Production (Legacy)
    url: 'https://mediacube.id'
  - description: Development
    url: 'https://id.mediacube.dev'
paths:
  /oauth/token:
    post:
      summary: Authentication
      operationId: post-oauth-token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_type:
                    type: string
                  expires_in:
                    type: string
                  access_token:
                    type: string
                required:
                  - token_type
                  - expires_in
                  - access_token
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_message:
                    type: string
                required:
                  - error
                  - error_description
                  - error_message
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                grant_type:
                  type: string
                  description: for the payments api use partner
                scopes:
                  type: string
                  description: '* - all available scopes "user.channels, user. common" are specific'
              required:
                - client_id
                - client_secret
                - grant_type
            examples:
              example:
                value:
                  grant_type: partner
                  client_id: '1'
                  client_secret: secret
                  scopes: user.channels user.common user.contacts
              example-2:
                value:
                  grant_type: partner
                  client_id: '1'
                  client_secret: secret
                  scopes: '*'
        description: ''
      description: Gaining access
      tags:
        - Auth
  /oauth/user:
    get:
      summary: '[OAuth] User'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  email:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  lang:
                    type: string
                  wallet:
                    type: string
                  sub_user:
                    required:
                      - id
                      - email
                      - first_name
                      - last_name
                      - lang
                      - wallet
                      - country
                    type: object
                    properties:
                      id:
                        type: number
                      email:
                        type: string
                      first_name:
                        type: string
                      last_name:
                        type: string
                      lang:
                        type: string
                      wallet:
                        type: string
                      country:
                        $ref: '#/components/schemas/Country'
                  channels:
                    type: array
                    items:
                      type: string
                  country:
                    $ref: '#/components/schemas/Country'
                required:
                  - id
                  - email
                  - first_name
                  - last_name
                  - lang
                  - wallet
                  - sub_user
                  - channels
                  - country
      operationId: get-oauth-user
      description: Getting information about the user by the token
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: |
            Bearer token that was issued after authorization /oauth/token
          required: true
      tags:
        - User
  /oauth/user/channels:
    get:
      summary: '[OAuth] Scope User Channels'
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    youtube_id:
                      type: string
                    title:
                      type: string
                    published_at:
                      type: string
                    views_count:
                      type: number
                    comments_count:
                      type: number
                    subscribers_count:
                      type: number
                    videos_count:
                      type: number
                    gender:
                      type: boolean
                    is_channel_owner:
                      type: boolean
                    connect_request_status:
                      type: integer
                  required:
                    - id
                    - youtube_id
                    - title
                    - published_at
                    - views_count
                    - comments_count
                    - subscribers_count
                    - videos_count
                    - gender
                    - is_channel_owner
      operationId: get-oauth-user-channels
      description: 'scope name: user.channels'
      parameters:
        - schema:
            type: string
          in: header
          name: Authroization
          description: Bearer token that was issued after authorization /oauth/token
          required: true
      tags:
        - User
  /oauth/user/common:
    get:
      summary: '[OAuth] Scope User Common'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: string
                  lang:
                    type: string
                  is_confirmed:
                    type: boolean
                  avatar:
                    type: string
                  wallet:
                    type: string
                  profile:
                    $ref: '#/components/schemas/Profile'
                  birthday:
                    type: string
                  sex:
                    type: boolean
                  country_id:
                    type: number
                  country:
                    $ref: '#/components/schemas/Country'
                  sub_user:
                    type:
                      - object
                      - 'null'
                    required:
                      - name
                      - email
                      - lang
                      - is_confirmed
                      - avatar
                      - wallet
                      - profile
                      - birthday
                      - sex
                      - country_id
                      - country
                    properties:
                      name:
                        type: string
                      email:
                        type: string
                      lang:
                        type: string
                      is_confirmed:
                        type: boolean
                      avatar:
                        type: string
                      wallet:
                        type: string
                      profile:
                        $ref: '#/components/schemas/Profile'
                      birthday:
                        type: string
                      sex:
                        type: string
                      country_id:
                        type: number
                      country:
                        $ref: '#/components/schemas/Country'
                required:
                  - name
                  - email
                  - lang
                  - is_confirmed
                  - avatar
                  - wallet
                  - profile
                  - birthday
                  - sex
                  - country_id
                  - country
                  - sub_user
      operationId: get-oauth-user-common
      description: 'scope name: user.common'
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
          description: |
            Bearer token that was issued after authorization /oauth/token
      tags:
        - User
  /oauth/user/contacts:
    get:
      summary: '[OAuth] Scope User Contacts'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  sub_user:
                    type:
                      - object
                      - 'null'
                    required:
                      - contracts
                    properties:
                      contracts:
                        type: array
                        items:
                          $ref: '#/components/schemas/Contact'
                required:
                  - contacts
                  - sub_user
      operationId: get-oauth-user-contacts
      description: 'scope name: user.contacts'
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
          description: |
            Bearer token that was issued after authorization /oauth/token
      tags:
        - User
  /payments:
    post:
      summary: Transaction creation
      operationId: post-payments
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionCreateResponse'
              examples:
                Example:
                  value:
                    data:
                      request_id: c02e79a2-d30c-46e3-b3dd-c0e6a987acf8
                      status: '2'
                      err_msg: 'null'
        '401':
          description: Your Access Token does not have access
        '403':
          description: Your Identify Key does not have enough rights to perform the operation
        '422':
          description: Incorrect data
      description: Transaction creation
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          required: true
          name: Content-Type
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            example: XMLHttpRequest
          in: header
          name: X-Requested-With
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreateRequest'
            examples: {}
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
        description: ''
      tags:
        - Payments
    get:
      summary: Getting transaction status
      operationId: get-payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionCreateResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      description: Transaction status
      tags:
        - Payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionStatusRequest'
            examples: {}
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
        description: ''
      parameters:
        - schema:
            type: string
            example: Bearer <jwt-token>
          in: header
          name: Authorization
          description: ''
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          description: ''
          required: true
        - schema:
            type: string
            example: XMLHttpRequest
          in: header
          name: X-Requested-With
          required: true
        - schema:
            type: string
            example: application/json
          in: header
          name: Accept
          required: true
    parameters: []
components:
  schemas:
    TransactionCreateResponse:
      title: Transaction creation scheme (response)
      type: object
      properties:
        data:
          type: object
          properties:
            request_id:
              type: string
            status:
              type: string
            err_msg:
              type: string
            uuid:
              type: string
              format: uuid
              description: 'Transaction ID, use it for batch transfer of transactions.'
      x-examples:
        Example:
          data:
            request_id: c02e79a2-d30c-46e3-b3dd-c0e6a987acf8
            status: 2
            err_msg: null
        example-2:
          data:
            request_id: c02e79a2-d30c-46e3-b3dd-c0e6a987acf8
            status: 3
            err_msg: 3000
      description: ''
    TransactionCreateRequest:
      title: Transaction creation scheme
      type: object
      x-examples: {}
      description: ''
      properties:
        identify:
          type: string
          description: 'To get an Identify Key, contact our support.'
        purpose:
          type: integer
          enum:
            - 1
            - 2
          example: 1
        request_id:
          type: string
          minLength: 16
          maxLength: 255
          description: randomly generated unique line
        description:
          type: string
          description: message of withdrawal of funds from your Ezzy account. Will be displayed in the  _Transactions_ tab in Ezzy
        data:
          type: array
          items:
            type: object
            properties:
              wallet:
                type: string
                description: existing wallet number of the Ezzy system user
                minLength: 16
                maxLength: 16
              amount:
                type: string
              description:
                type: string
                description: message about the funds receipt. Will be displayed in the _Transactions_ tab in Ezzy
              uuid:
                type: string
                format: uuid
                description: 'Transaction ID, use it for batch transfer of transactions.'
            required:
              - wallet
              - amount
              - description
      required:
        - identify
        - purpose
        - request_id
        - description
        - data
    TransactionStatusRequest:
      title: TarnsactionStatusRequest
      type: object
      properties:
        identify:
          type: string
        request_id:
          type: string
          minLength: 16
          maxLength: 255
          example: c02e79a2-d30c-46e3-b3dd-c0e6a987acf8
      required:
        - identify
        - request_id
      x-examples:
        example: {}
      description: ''
    Country:
      title: Country
      type: object
      description: ''
      properties:
        id:
          type: number
        youtube_id:
          type: string
        code:
          type: string
        name:
          type: string
        order:
          type: number
        flag:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
      required:
        - id
        - youtube_id
        - code
        - name
        - order
        - flag
        - created_at
        - updated_at
    Profile:
      title: Profile
      type: object
      properties:
        id:
          type: number
        user_id:
          type: number
        first_name:
          type: string
        last_name:
          type: string
        name:
          type: string
        region:
          type: string
        city:
          type:
            - string
            - 'null'
        address:
          type:
            - string
            - 'null'
        lang:
          type: string
        tax_id:
          type:
            - string
            - 'null'
        business_id:
          type:
            - string
            - 'null'
        is_real_address:
          type: boolean
        province:
          type:
            - string
            - 'null'
      required:
        - id
        - user_id
        - first_name
        - last_name
        - name
        - region
        - city
        - address
        - lang
        - tax_id
        - business_id
        - is_real_address
        - province
    Contact:
      title: Contact
      type: object
      properties:
        id:
          type: number
        user_id:
          type: number
        network:
          type: string
        link:
          type: string
      required:
        - id
        - user_id
        - network
        - link
  securitySchemes: {}
tags:
  - name: Auth
  - name: User
  - name: Payments
security: []
